<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PruneURL</title>
    </head>

    <body>
        <h1>Welcome to PruneURL!</h1>
        <p>This is a simple URL pruning service.</p>

        <form action="/prune" method="post">
            <label for="url">Enter URL to prune:</label>
            <input type="text" id="url" name="url" required>
            <button type="submit">Prune URL</button>
        </form>

        <p>Made by pranavcl</p>
    </body>
</html>