<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PruneURL | Forgot Password</title>
    </head>

    <body>
        <h1>Forgot Password</h1>

        <form action="/register" method="post">
            <a href="/">Return to home</a><br><br>

            <label for="email">Enter your registered email: </label>
            <input name="email"><br><br>

            <input type="submit" value="Request password reset"><br><br>
        </form>
    </body>
</html>