{% extends "base.html" %}
{% block title %}PruneURL | Home{% endblock %}
{% block content %}
<h1 id="logo">PruneURL</h1>
<h2>Welcome to PruneURL! 🌐</h2>
<p>This is a simple URL shortening service made in Python and Flask.</p>

<form action="/login" method="get">
    <button action="/login" method="get">Login</button>
</form>

<br>

<form action="/register" method="get">
    <button action="/register" method="get">Register</button>
</form>

<br>

<form action="/forgot-password" method="get">
    <button action="/forgot-password" method="get">Forgot Password</button>
</form>
{% endblock %}